MONGO_URI = database_uri_here
PORT = port_number_here
NODE_ENV = environment_here(currently set to development)
GEMNI_API_KEY = gemni_api_key_here
EMAIL = email_address_here
EMAIL_PASS = email_password_here
JWT_SECRET = jwt_secret_here
REDIS_HOST = redis_host_here
REDIS_PORT = redis_port_here
REDIS_PASSWORD = redis_password_here